# Gradle
.gradle/
build/
*.apk
*.ap_
*.aab
*.jks
*.keystore

# Android Studio
.idea/
.DS_Store
*.iml
*.iws
*.ipr
local.properties
proguard-rules.pro

# Build
bin/
gen/
out/

# Misc
*.log
*.swp
*.swo
*~
.env
.vscode/